<div class="title-container">
  <a href="/materials" class="title-link">
    <svg viewBox="0 0 16 16">
      <use xlink:href="./assets/icons/bootstrap-icons.svg#boxes" />
    </svg>
    /Materials
  </a>
</div>
<div class="card shadow m-3">
  <div class="card-body">
    <div class="d-flex align-items-center w-100">
      <div class="w-100 d-flex justify-content-end pe-4">
        <h5 class="card-title title-right">
          <span class="title-text">
            <span class="text-muted">Management of</span>
            <span class="text-primary fw-bold">MATERIALS</span>
            <span class="orange-dot"></span>
          </span>
        </h5>           
      </div>      
      
      

      <div class="btn-group ms-auto" style="margin-right: 4px">
        <a href="#" class="text-success" (click)="openMaterialModal()">
          <svg fill="currentColor" viewBox="0 0 16 16" class="title-icon">
            <use
              xlink:href="./assets/icons/bootstrap-icons.svg#plus-square-fill"
            ></use>
          </svg>
        </a>
      </div>
    </div>
    <div class="table-responsive mt-3">
      <table class="table custom-table small">
        <thead>
          <tr>
            <th scope="col" class="id-col text-center">Item</th>
            <th scope="col" class="text-center">Name</th>
            <th scope="col" class="text-center d-none d-xl-table-cell">Description</th>
            <th scope="col" class="text-center d-none d-xl-table-cell">Quantity</th>
            <th scope="col" class="text-center d-none d-xl-table-cell">Price</th>
            <th scope="col" class="text-center d-none d-xl-table-cell">MinStock</th>
            <th scope="col" class="text-center d-none d-xl-table-cell">MaxStock</th>
            <th class="actions-col text-center" scope="col">Measurement unit</th>
          </tr>
        </thead>        
        <tbody>
          <tr>
            <td class="text-center">
              <input type="checkbox" class="item-checkbox" />
            </td>
            <td class="text-start">WOOD</td>
            <td class="text-start d-none d-xl-table-cell">High quality oak wood</td>
            <td class="text-center d-none d-xl-table-cell">150</td>
            <td class="text-center d-none d-xl-table-cell">$25.00</td>
            <td class="text-center d-none d-xl-table-cell">50</td>
            <td class="text-center d-none d-xl-table-cell">300</td>
            <td class="text-center">kg</td>
          </tr>
          <tr>
            <td class="text-center">
              <input type="checkbox" class="item-checkbox" />
            </td>
            <td class="text-start">STEEL</td>
            <td class="text-start d-none d-xl-table-cell">Industrial-grade steel rods</td>
            <td class="text-center d-none d-xl-table-cell">80</td>
            <td class="text-center d-none d-xl-table-cell">$45.50</td>
            <td class="text-center d-none d-xl-table-cell">20</td>
            <td class="text-center d-none d-xl-table-cell">200</td>
            <td class="text-center">units</td>
          </tr>
          <tr>
            <td class="text-center">
              <input type="checkbox" class="item-checkbox" />
            </td>
            <td class="text-start">PAINT</td>
            <td class="text-start d-none d-xl-table-cell">White matte wall paint</td>
            <td class="text-center d-none d-xl-table-cell">230</td>
            <td class="text-center d-none d-xl-table-cell">$12.75</td>
            <td class="text-center d-none d-xl-table-cell">30</td>
            <td class="text-center d-none d-xl-table-cell">500</td>
            <td class="text-center">liters</td>
          </tr>
        </tbody>
      </table>      
    </div>
  </div>
</div>
<!-- Modal para confirmar eliminación -->
<div class="modal fade" id="confirmDeleteMaterial" data-bs-backdrop="static" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header custom-modal-header bg-light">
        <h1 class="modal-title fs-5 text-danger">Confirm</h1>
      </div>
      <div class="modal-body text-center">
        Are you sure you want to delete this material? <br /><br />
        <h3>{{ selectedMaterial?.name.toUpperCase() }}</h3>
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button type="button" class="btn btn-danger btn-sm me-4" (click)="confirmDeleteMaterial()" data-bs-dismiss="modal">
          YES
        </button>
        <button type="button" class="btn btn-outline-dark btn-sm me-4" data-bs-dismiss="modal">
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>
