/* Estilo para el contenedor del título */
.title-container {
  display: flex;
  align-items: center;
  font-size: 1rem;
  color: #6E6E6E;
  margin: 1rem 0;
  padding-left: 1.5rem;
}

.title-container svg {
  width: 20px;
  height: 20px;
  margin-right: 0.3rem;
  fill: #6E6E6E;
}

/* Estilo para el enlace en el contenedor del título */
.title-link {
  display: flex;
  align-items: center;
  color: #6E6E6E;
  text-decoration: none;
}

.title-link:hover {
  color: #4A4A4A;
}

/* Estilo para la tarjeta de contenido */
.card {
  border: 1px solid #cccccc;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.card-body {
  padding: 1.5rem;
  margin-top: 0.1rem;
}

.management-text {
  color: #0066CC;
  font-weight: bold;
}

/* Estilo para el título alineado a la derecha con punto naranja */
.title-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 1rem;
  margin-right: 1.5rem;
  font-size: 1.25rem;
}

.title-text {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.orange-dot {
  width: 13px;
  height: 13px;
  background-color: #ff6a00;
  border-radius: 50%;
}

/* Estilo para la tabla principal */
.custom-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  border: 2px solid #0066cc; /* Borde azul */
  border-radius: 0.5rem;
  overflow: hidden;
}

/* Encabezado con fondo azul */
.custom-table thead th {
  background-color: #0066cc; /* Azul fuerte */
  color: white;
  font-weight: 500;
  padding: 12px;
  border: none;
}

/* Filas del cuerpo gris oscuro */
.custom-table tbody tr {
  background-color: #999999 !important; /* Gris más oscuro */
}

/* Celdas sin bordes internos */
.custom-table th,
.custom-table td {
  border: none;
  padding: 10px;
}

.notification-container {
  position: fixed;
  top: 10px;
  right: 10px;
  width: auto; 
  background-color: transparent;
  border-radius: 5px;
  z-index: 1000;
  padding: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px; 
}

.options-panel {
  width: 100px;
  background-color: #f8f9fa;
  transition: all 0.3s ease;
  border: 2px solid #ff6a00;
}

@media (max-width: 768px) {
  .options-panel {
    width: 100%;
  }
}

.icon-only-btn {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.icon-only-btn:hover {
  transform: scale(1.1);
}

.option-icon {
  width: 32px;
  height: 32px;
}
