<div class="header-container w-100 d-flex justify-content-between align-items-center" style="border-bottom: 3px solid #4F4F4F;">
  <!-- Botón de toggle para la barra lateral -->
  <button (click)="onToggleSidebar()" title="Sidebar" class="toggle-button" data-bs-toggle="tooltip" data-bs-placement="top"
    data-bs-custom-class="custom-tooltip" data-bs-title="Sidebar">
    <svg class="toggle-icon" viewBox="0 0 16 16">
      <use [attr.xlink:href]="!isSidebarVisible ? './assets/icons/bootstrap-icons.svg#layout-sidebar' : './assets/icons/bootstrap-icons.svg#layout-sidebar-inset'"></use>
    </svg>
  </button>

  <div class="d-flex align-items-center w-100">
    <a href="#" class="logo-container">
      <img src="./assets/img/logo_inout_v4.png" alt="Logo" class="logo-img">
    </a>
    <div class="navbar-brand mx-auto">{{ nombreApp | uppercase }}</div>
    
    <!-- Notificaciones y Dropdown de usuario -->
    <div class="btn-group ms-lg-0" style="margin-right: 8px;">
      <a class="btn">        
        <svg width="24" height="24" fill="currentColor" viewBox="0 0 16 16">
          <use xlink:href="./assets/icons/bootstrap-icons.svg#bell"/>
        </svg>
      </a>

      <div class="btn-group">
        <a class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" href="#">
          <svg width="24" height="24" fill="currentColor" viewBox="0 0 16 16">
            <use xlink:href="./assets/icons/bootstrap-icons.svg#person-circle"/>
          </svg>
        </a>
        
        <ul class="dropdown-menu p-3">
          <li class="d-flex align-items-center">
            <img *ngIf="userImage" [src]="userImage" alt="Foto de usuario" class="user-img me-2">
            <div>
              <strong>{{ userName }}</strong>
              <p class="text-muted small mb-0">{{ userRol }}</p>
            </div>
          </li>
          <li><hr class="dropdown-divider"></li>
          <li>
            <a class="dropdown-item" href="#">
              <svg class="dropdown-icon" width="16" height="16" fill="currentColor">
                <use xlink:href="./assets/icons/bootstrap-icons.svg#person"/>
              </svg>
               {{ userName }}
            </a>
          </li>
          <li>
            <a class="dropdown-item" href="mailto:{{ userEmail }}">
              <svg class="dropdown-icon" width="16" height="16" fill="currentColor">
                <use xlink:href="./assets/icons/bootstrap-icons.svg#envelope"/>
              </svg>
             {{ userEmail }}
            </a>
          </li>
          <li>
            <a class="dropdown-item" href="#">
              <svg class="dropdown-icon" width="16" height="16" fill="currentColor">
                <use xlink:href="./assets/icons/bootstrap-icons.svg#patch-check"/>
              </svg>
               {{ userRol }}
            </a>
          </li>
          <li><hr class="dropdown-divider"></li>
          <li>
            <a class="dropdown-item logout-btn" href="#" (click)="logout()">
              <svg width="20" height="20" fill="currentColor">
                <use xlink:href="./assets/icons/bootstrap-icons.svg#box-arrow-right"/>
              </svg>
              Logout
            </a>
          </li>
        </ul>        
      </div>
    </div>
  </div>
</div>
