/* .card {
    max-width: 600px;
    width: 90%;
  }
   */
   .forgot-password-link {
    color: white; /* Cambia el color a blanco */
    text-decoration: none; /* Elimina el subrayado predeterminado */
  }
  
  .forgot-password-link:hover {
    text-decoration: underline; /* Si deseas un subrayado al pasar el ratón */
    color: white; /* Mantiene el color blanco también al pasar el ratón */
  }
  .login-container .custom-btn {
    background-color: transparent;
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .login-container .custom-btn:hover {
    background-color: #0b1783;
  }
  /* Redondear los campos de entrada */
input.form-control {
  border-radius: 30px; /* Cambiar este valor para ajustar el nivel de redondez */
}

/* Redondear el botón de "Sign in" */
.custom-btn {
  border-radius: 30px; /* Asegúrate de que el botón también sea redondeado */
}
.custom-card {
  background-color: #779bc5; 
  color: white; /* Color del texto */
  border-radius: 10px; /* Bordes redondeados */
  border: 2px solid #eafcfb; /* Borde verde oscuro */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra suave */
}
/* Estilo personalizado para los errores del formulario */
.custom-error {
  color: #ff5733;
  font-weight: bold; 
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

