/* .card {
    max-width: 600px;
    width: 90%;
  }
   */
   .forgot-password-link {
    color: rgb(39, 28, 28); /* Cambia el color a blanco */
    text-decoration: none; /* Elimina el subrayado predeterminado */
  }
  
  .forgot-password-link:hover {
    text-decoration: underline; /* Si deseas un subrayado al pasar el ratón */
    color: rgb(12, 13, 99); /* Mantiene el color blanco también al pasar el ratón */
  }
  .login-container .custom-btn {
    background-color:  blue;
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Mantiene el formulario centrado en toda la pantalla */
    width: 100%;
    padding: 20px; /* Espaciado para evitar que quede pegado en pantallas pequeñas */
    margin: 0;
  }
  .cuadroPrincipal {
    min-width: 300px;
    max-width: 410px;
    width: 100%;
    margin: auto;
  }
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
  /* Redondear los campos de entrada */
input.form-control {
  border-radius: 30px; /* Cambiar este valor para ajustar el nivel de redondez */
}

.text-danger {
  width: 100%;
}

/* Redondear el botón de "Sign in" */
.custom-btn {
  border-radius: 30px; /* Asegúrate de que el botón también sea redondeado */
}
.custom-card {
  background-color: #e2d1cc; 
  color: white; /* Color del texto */
  border-radius: 10px; /* Bordes redondeados */
  border: 2px solid #eafcfb; /* Borde verde oscuro */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra suave */
}
/* Cuadro de texto debajo de los errores */
.custom-error-box {
  display: block; /* Asegura que ocupe todo el ancho */
  width: 100%; /* Hace que tenga el mismo ancho del input */
  background-color: rgba(255, 0, 0, 0.1); /* Fondo rojo claro */
  color: #680e0e; /* Texto rojo */
  padding: 5px; /* Espaciado interno */
  border-radius: 5px; /* Bordes redondeados */
  font-size: 14px;
  text-align: left;
  font-weight: bold;
  margin-top: 4px;
  margin-left: 0px; /* Espaciado entre el input y el error */
}

.custom-welcome {
  color: rgb(54, 39, 39); /* Cambia "red" por el color que desees */
}
.notification-container {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1050; /* Asegura que las notificaciones estén por encima de otros elementos */
  width: auto;
  max-width: 300px;
}



