<div class="notification-card" [ngClass]="['notification-card', type]">
    <svg viewBox="0 0 16 16" class="notification-icon" [ngClass]="getIconColor()" style="width: 2rem; height: 2rem; margin-right: 8px;">
      <use [attr.xlink:href]="'./assets/icons/bootstrap-icons.svg#' + getIcon()" />
    </svg>
    <div [innerHTML]="title"></div>
  
    <!-- Botón cerrar para notificaciones tipo B -->
    <button
      *ngIf="alertType === 'B'"
      (click)="closeToast()"
      class="close-btn"
    >
      <svg viewBox="0 0 16 16" style="width: 2rem; height: 2rem;">
        <use xlink:href="./assets/icons/bootstrap-icons.svg#x" />
      </svg>
    </button>
  </div>