.footer {
    background-color: #7f8285; /* Color de fondo del footer */
    padding: 2px 0px;    
}
.footer .small-text {
    font-size: 0.8rem; /* Ajusta este valor según el tamaño que desees */
}

@media (max-width: 768px) {
    .mobile-hidden {
        display: none;
    }
    
    .footer {
        padding: 1px 0px 3px 0px;
        font-size: 0.85rem;
    }
}