.footer {
    background-color: #7f8285; /* Color de fondo del footer */
    padding: 5px 0px;    
}
.footer .small-text {
    font-size: 0.8rem; /* Ajusta este valor según el tamaño que desees */
  }