.card {
  border: 1px solid white;
  border-radius: 8px;
}

.table-hover tbody tr:hover {
  background-color: #f8f9fa;
}

.modal.show {
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-backdrop.show {
  opacity: 0.5;
}
